body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

.house-form-wrapper,
.apartments-form-wrapper,
.people-form-wrapper,
.house-card-wrapper{
    max-width: 600px;
    margin: 0 auto;
}

label {
    width: 200px;
}

.error{
    border: 1px solid red;
}
.house-card-wrapper ul{
    font-size: 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


